<!DOCTYPE html>
<html ng-app="app">
<head lang="en">

    <title></title>
</head>
<body>

<div ng-controller="collectionController">
    <h1>hello from client {{intCount}} </h1>
    <ul>
        <li ng-repeat="key in collection">{{key.fruits}} --&&-- {{key.color}}</li>

    </ul>
    <form ng-submit="savedata()">
        <input type="text" name="fruitname" placeholder="enter fruit name" ng-model="fruitname">
        <input type="text" name="color" placeholder="enter color" ng-model="fruitcolor">
        <input type="submit">
    </form>
</div>
<script src="/js/libs/angular.min.js"></script>
<script src="/js/libs/angular-resource.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controller/collectionController.js"></script>
</body>
</html>